/* You can add global styles to this file, and also import other style files */
.gold {
  color: #d6af36;
}
.platinium {
  color: #b9b9b9;
}
.bronce {
  color: #a77044;
}
.vote-up {
  color: #007fff;
}
.vote-down {
  color: #ffa500;
}
// body {
//   background-image: url("/assets/figures.svg");
//   background-repeat: repeat;
//   background-size: 100px;
// }
