/* You can add global styles to this file, and also import other style files */
.gold {
  color: #d6af36;
}
.platinium {
  color: #d7d7d7;
}
.bronce {
  color: #a77044;
}
.vote-up {
color:#007FFF;
}
.vote-down {
  color:#FFA500;
}